*.class
*.log

# sbt specific
.cache
.classpath
.history/
.lib/
.project
dist/*
lib_managed/
project/boot/
src_managed/
target/

# Scala-IDE specific
.scala_dependencies
.settings
.worksheet
/bin

/webapps

#IntelliJ Idea
.idea

